.vscode/
/tools/hvisor
/tools/ivc_demo
/tools/rpmsg_demo
*.mod.[co]
*.mod
*.[oa]
*.cmd
*.dtb
*.dtb.S
*.tmp
Module.symvers
modules.order
driver/*.ko
*.s
*.d
*_compile.sh
/cJSON/
cp.sh
rpmsg_demo
__loongarch*
.vscode-ctags
.clangd
# kbuild
.config
.config.old
.cache
compile_commands.json
output/
script.py